TicTacToeSOAPclient/src/wsdl/localhost_8080/TicTacToeWS/TicTacToeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.2 (RELEASE-4.0.2-ffda8c0; 2023-01-31T10:50:38+0000) XMLWS-Impl/4.0.1 XMLWS-API/4.0.0 XMLB-Impl/4.0.2 XMLB-API/4.0.0 git-revision#ffda8c0. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tttws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tttws.com/" name="TicTacToeWebService">
<types/>
<message name="register">
<part name="username" type="xsd:string"/>
<part name="password" type="xsd:string"/>
<part name="name" type="xsd:string"/>
<part name="surname" type="xsd:string"/>
</message>
<message name="registerResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="showAllMyGames">
<part name="uid" type="xsd:int"/>
</message>
<message name="showAllMyGamesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="showMyOpenGames">
<part name="uid" type="xsd:int"/>
</message>
<message name="showMyOpenGamesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="showOpenGames"/>
<message name="showOpenGamesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="login">
<part name="username" type="xsd:string"/>
<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="getBoard">
<part name="gid" type="xsd:int"/>
</message>
<message name="getBoardResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="checkSquare">
<part name="x" type="xsd:int"/>
<part name="y" type="xsd:int"/>
<part name="gid" type="xsd:int"/>
</message>
<message name="checkSquareResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="closeConnection"/>
<message name="closeConnectionResponse"/>
<message name="deleteGame">
<part name="gid" type="xsd:int"/>
<part name="uid" type="xsd:int"/>
</message>
<message name="deleteGameResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="checkWin">
<part name="gid" type="xsd:int"/>
</message>
<message name="checkWinResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="takeSquare">
<part name="x" type="xsd:int"/>
<part name="y" type="xsd:int"/>
<part name="gid" type="xsd:int"/>
<part name="pid" type="xsd:int"/>
</message>
<message name="takeSquareResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="leagueTable"/>
<message name="leagueTableResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="setGameState">
<part name="gid" type="xsd:int"/>
<part name="gstate" type="xsd:int"/>
</message>
<message name="setGameStateResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="newGame">
<part name="uid" type="xsd:int"/>
</message>
<message name="newGameResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="joinGame">
<part name="uid" type="xsd:int"/>
<part name="gid" type="xsd:int"/>
</message>
<message name="joinGameResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getGameState">
<part name="gid" type="xsd:int"/>
</message>
<message name="getGameStateResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="TicTacToeWS">
<operation name="register" parameterOrder="username password name surname">
<input wsam:Action="http://tttws.com/TicTacToeWS/registerRequest" message="tns:register"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="showAllMyGames">
<input wsam:Action="http://tttws.com/TicTacToeWS/showAllMyGamesRequest" message="tns:showAllMyGames"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/showAllMyGamesResponse" message="tns:showAllMyGamesResponse"/>
</operation>
<operation name="showMyOpenGames">
<input wsam:Action="http://tttws.com/TicTacToeWS/showMyOpenGamesRequest" message="tns:showMyOpenGames"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/showMyOpenGamesResponse" message="tns:showMyOpenGamesResponse"/>
</operation>
<operation name="showOpenGames">
<input wsam:Action="http://tttws.com/TicTacToeWS/showOpenGamesRequest" message="tns:showOpenGames"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/showOpenGamesResponse" message="tns:showOpenGamesResponse"/>
</operation>
<operation name="login" parameterOrder="username password">
<input wsam:Action="http://tttws.com/TicTacToeWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getBoard">
<input wsam:Action="http://tttws.com/TicTacToeWS/getBoardRequest" message="tns:getBoard"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/getBoardResponse" message="tns:getBoardResponse"/>
</operation>
<operation name="checkSquare" parameterOrder="x y gid">
<input wsam:Action="http://tttws.com/TicTacToeWS/checkSquareRequest" message="tns:checkSquare"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/checkSquareResponse" message="tns:checkSquareResponse"/>
</operation>
<operation name="closeConnection">
<input wsam:Action="http://tttws.com/TicTacToeWS/closeConnectionRequest" message="tns:closeConnection"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/closeConnectionResponse" message="tns:closeConnectionResponse"/>
</operation>
<operation name="deleteGame" parameterOrder="gid uid">
<input wsam:Action="http://tttws.com/TicTacToeWS/deleteGameRequest" message="tns:deleteGame"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/deleteGameResponse" message="tns:deleteGameResponse"/>
</operation>
<operation name="checkWin">
<input wsam:Action="http://tttws.com/TicTacToeWS/checkWinRequest" message="tns:checkWin"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/checkWinResponse" message="tns:checkWinResponse"/>
</operation>
<operation name="takeSquare" parameterOrder="x y gid pid">
<input wsam:Action="http://tttws.com/TicTacToeWS/takeSquareRequest" message="tns:takeSquare"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/takeSquareResponse" message="tns:takeSquareResponse"/>
</operation>
<operation name="leagueTable">
<input wsam:Action="http://tttws.com/TicTacToeWS/leagueTableRequest" message="tns:leagueTable"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/leagueTableResponse" message="tns:leagueTableResponse"/>
</operation>
<operation name="setGameState" parameterOrder="gid gstate">
<input wsam:Action="http://tttws.com/TicTacToeWS/setGameStateRequest" message="tns:setGameState"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/setGameStateResponse" message="tns:setGameStateResponse"/>
</operation>
<operation name="newGame">
<input wsam:Action="http://tttws.com/TicTacToeWS/newGameRequest" message="tns:newGame"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/newGameResponse" message="tns:newGameResponse"/>
</operation>
<operation name="joinGame" parameterOrder="uid gid">
<input wsam:Action="http://tttws.com/TicTacToeWS/joinGameRequest" message="tns:joinGame"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/joinGameResponse" message="tns:joinGameResponse"/>
</operation>
<operation name="getGameState">
<input wsam:Action="http://tttws.com/TicTacToeWS/getGameStateRequest" message="tns:getGameState"/>
<output wsam:Action="http://tttws.com/TicTacToeWS/getGameStateResponse" message="tns:getGameStateResponse"/>
</operation>
</portType>
<binding name="TicTacToeWSPortBinding" type="tns:TicTacToeWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="showAllMyGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="showMyOpenGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="showOpenGames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="getBoard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="checkSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="closeConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="deleteGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="checkWin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="takeSquare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="leagueTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="setGameState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="newGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="joinGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
<operation name="getGameState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://tttws.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://tttws.com/"/>
</output>
</operation>
</binding>
<service name="TicTacToeWebService">
<port name="TicTacToeWSPort" binding="tns:TicTacToeWSPortBinding">
<soap:address location="http://localhost:8080/TicTacToeWS/TicTacToeWebService"/>
</port>
</service>
</definitions>